@model aspnet_exam_movie.Models.Entities.Movie

@{
    ViewBag.Title = "Details for: " + @Model.MovieTitle;
}

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <p><b>@Html.DisplayNameFor(model => model.MovieTitle):</b> @Model.MovieTitle</p>
        <p><b>@Html.DisplayNameFor(model => model.YearPublished):</b> @Model.YearPublished</p>
        <p><b>@Html.DisplayNameFor(model => model.Genre):</b> @Model.Genre</p>
        <p><b>@Html.DisplayNameFor(model => model.Director):</b> @Model.Director</p>
        <p><b>@Html.DisplayNameFor(model => model.MovieLength):</b> @Model.MovieLength</p>
        <p><b>@Html.DisplayNameFor(model => model.MoviePlot):</b> @Model.MoviePlot</p>
        <p><b>@Html.DisplayNameFor(model => model.Rating):</b> @Model.Rating</p>     
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-1 col-md-4">
        <a class="btn btn-danger" asp-controller="Movie" asp-action="Index">Cancel</a>
        <a class="btn btn-success" asp-controller="Movie" asp-action="Update" asp-route-id=@Model.MovieItemID>Edit</a>
    </div>
</div>


