@model IEnumerable<aspnet_exam_movie.Models.Entities.Movie>
    @{
        ViewBag.Title = "Movies";
    }

<table class="table  table-striped table-hover"> 
    <thead class="row">
        <!--MovieTitle-->
        <th>@Html.DisplayNameFor(model => model.MovieTitle)</th>
        <!--YearPublished-->
        <th>@Html.DisplayNameFor(model => model.YearPublished)</th>
        <!--Director-->
        <th>@Html.DisplayNameFor(model => model.Director)</th>
        <!--Rating-->
        <th>@Html.DisplayNameFor(model => model.Rating)</th>

    </thead>

    @foreach(var st in Model)
    { 
        <tr>
            <!--MovieTitle-->
            <td>@st.MovieTitle</td> 
            <!--YearPublished-->
            <td>@st.YearPublished</td> 
            <!--Director-->
            <td>@st.Director</td> 
            <!--Rating-->
            <td>@st.Rating</td> 

            <!--Buttons-->
            <td class="row">
                <a class="btn btn-info" asp-controller="Movie" asp-action="Details" asp-route-id=@st.MovieItemID>Details</a>
                <a class="btn btn-primary" asp-controller="Movie" asp-action="Update" asp-route-id=@st.MovieItemID>Edit</a>
                <a class="btn btn-danger" asp-controller="Movie" asp-action="Delete" asp-route-id=@st.MovieItemID>Delete</a>
            </td>
        </tr>
    }
</table>
<a class="btn btn-success" asp-controller="Movie" asp-action="Create">Create</a>